{% extends "base.html" %}


{% block content %}
  {% load static %}
<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex text-center align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<p class="text-white link-nav"><a href="{% url 'home' %}">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="{% url 'about' %}">
							About Us</a></p>
					<h1 class="text-white">
						About Us
					</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
<br>
 <!-- Start About Area -->
	<section class="about-area">
		<div class="container-fluid">
			<div class="row d-flex justify-content-end align-items-center">
				<div class="col-lg-6 about-left">
					<div class="single-about">
						<h4>Why Choose Us</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad.
						</p>
					</div>
					<div class="single-about">
						<h4>Our Properties</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad.
						</p>
					</div>
					<div class="single-about">
						<h4>legal notice</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad.
						</p>
					</div>
				</div>
				<div class="col-lg-6 about-right no-padding">
					<img class="img-fluid" src="{% static 'base/img/about-img-h.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- End About Area -->
{% endblock %}