{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex text-center align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<p class="text-white link-nav"><a href="{% url 'home' %}">Home </a>
						<span class="lnr lnr-arrow-right"></span> <a href="{% url 'list_enquiries' %}">
							Your Enquiries</a></p>
					<h1 class="text-white">
						Your Enquiries
					</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
<br>

<section class="about-area">
		<div class="container-fluid" align="center">
            <table border="2px" align="center   ">
                <thead>
					<td>Enquiry ID</td>
                    <td>Property</td>
                    <td>Description</td>
					<td>Seller</td>
                    <td>Enquiry Date</td>
                </thead>
				{% for enquiry in enquiries %}
                <tr>

					<td>{{enquiry.id}}</td>
                    <td>{{enquiry.property}}</td>
                    <td>{{enquiry.description}}</td>
					<td>{{enquiry.property.posted_by}}</td>
                    <td>{{enquiry.date}}</td>

                </tr>
				{% endfor %}
            </table>
            <br>
        </div>
	</section>



{% endblock %}