{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex text-center align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<p class="text-white link-nav"><a href="{% url 'home' %}">Home </a>
						<span class="lnr lnr-arrow-right"></span> <a href="{% url 'list_all_properties' %}">
							All Properties</a></p>
					<h1 class="text-white">
						All Properties
					</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
<br>

	<!-- Start property Area -->
	<section class="property-area section-gap relative" id="property">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-10 header-text">
					<h1>Properties You Might be Interested In</h1>
					<p>

					</p>
				</div>
			</div>

			{% if no_result_found %}
			<h2><div align="center">No Properties Found</div></h2>
			{% else %}

			<div class="row" align="center">
                {% for items in properties %}
				<div class="col-lg-4">
					<div class="single-property">
						<div class="images">
							<img style="object-fit:cover;" class="mx-auto d-block" src="{{items.main_image.url}}" alt="" height="40%" width="50%">
                            <span>For Sale</span>
						</div>

						<div class="desc">
							<div class="top d-flex justify-content-between">
								<h4><a href="#">{{items.title}}</a></h4>
								<h4>{{items.price}}</h4>
							</div>
							<div class="middle">
								<div align="right" class="d-flex justify-content-start">
									<p>Bed: {{items.bedroom}}</p>
									<p>Bath: {{items.bathroom}}</p>
								</div>
								<div class="d-flex justify-content-start">
									<p>Area: <span class="rd">{{items.sq_feet}}</span></p>
									<p>Lot Size: <span class="rd">{{items.lot_size}}</span></p>
									<p>Garage: <span class="rd">{{items.garage}}</span></p>
								</div>
							</div>
                        </div>
						<div align="right"><a style="background-color: #4CAF50;
 												border: none;
  												color: white;
  												padding: 10px 25px;
  												text-align: center;
  												text-decoration: none;
  												display: inline-block;
  												font-size: 16px;"
											  	type="submit" href="{% url 'property_details' pk=items.id %}">View Details</a></div>
					</div>
                </div>
                {% endfor %}
				</div>
			{% endif %}
				<h5>
			{% if is_paginated %}
			<div class="pagination">
    			<span class="step-links">
        			{% if page_obj.has_previous %}
            			<a href="?page=1">&laquo; first</a>
           				 <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        			{% endif %}

        		<span class="current">
           			 Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
				</span>

        		{% if page_obj.has_next %}
            		<a href="?page={{ page_obj.next_page_number }}">next</a>
            		<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
       			 {% endif %}

    			</span>
			</div>
		{% endif %}
</h5>
			</div>
		</div>
	</section>

	<!-- End property Area -->
{% endblock %}